body {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    /* background-color: silver; */
}

.wrapper {
    column-count: 1;
    /* column-gap: 50px; */
    padding: 50px;
  }
  
  .pic {
    float: left;
    /* width: 250px; */
    width: 20%;
    /* shape-outside: url(https://upload.wikimedia.org/wikipedia/commons/3/34/Red_star.svg);*/
    /* shape-outside: url(https://goo.gl/images/wiHzCF);
    shape-margin:20px; */
    margin-right: 20px;
    /* margin-bottom: 20px; */
  }
  
  /* .moon {
    border-radius: 50%;
    height: 200px; 
    width:200px;
    background-color: #2badd9;
    float: right;
    shape-outside: inset(1% round 50%);
    margin-left: 20px;
    margin-bottom: 10px;
  } */