#name {
    font-size: 2.2em;
    font-weight: bold;
    color: hotpink;
}
div {
    /* border: 1px solid magenta; */
    width: 45%;
    display: inline-block;
}
.rightjust {
    text-align: right;
}
.topalign
{
    vertical-align: top;
}